/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
/* ------------ background ------------------*/
body {
  background-image: url(/images/site/small_check.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 70px;
  font-family: "Roboto";
}
/* ---------- main part -------------------- */
#wrapper {
  background-color: white;
  border: 6px solid lightblue;
  border-radius: 15px;
  padding: 20px;
}
/* main img {
  width: 100%;
} */
section h1 {
  padding-left: 10px;
}
/* --------------- head ---------------------- */
#top-header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.siteName a {
  font-size: 30px;
  text-decoration: none;
  font-weight: bold;
  font-family: "Prompt";
  color: black;
}
#tools a { 
  text-decoration: none;
  color: black;
}
#tools a:hover {
  color: lightblue;
}
/* --------------nav bar --------------------- */
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 12px 35px 12px 35px;
  background-color: black;
}
nav ul a {
  color: white;
  font-size: 15px;
  text-decoration: none;
}
nav ul a:hover {
  color: lightblue;
}

/* ----------- main banner ------------------ */
.banner {
  display: flex; 
  position: relative;
}
.delorean_info {
  position: absolute;
  margin: 0;
  background-color: rgba(200, 200, 200, 0.5);
  padding: 5px 15px 15px 15px;
  color: #0bbfdc;
  margin: 20px 0 0 40px;
  width: fit-content;
}
.delorean_img {
  margin-left: 30%;
}

/* ----------------- information section ---------------- */
.car_details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 70px;
}
.car_details h2 {
  font-family: "Prompt";
}

/* ---------- Delorean Upgrades ---------- */
.upgrades {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}   
.upgrades h2 {
  grid-column: 1/3;
  margin: 0;
}
.upgrade-item {
  text-align: center;
}
.upgrade-item img {
  margin-top: 15px;
}
.flux, .flame, .bumper, .hub {
  background-color: #0bbfdc;
  width: 95%;
  height: 100px;
}
/* ---------- Delorean Reviews ---------- */
.reviews li {
  font-size: 20px;
  padding: 10px;
}
/* -------------- pages view --------------------- */
nav > ul{
  margin: 0px;
}
nav li{
  text-decoration: none;
  float: left;
  width: 15%;  
  font-family: 'Roboto', sans-serif;
  display: block;
  color: green;
  text-align: center;
  padding: 14px 16px;    
}
nav li:hover{
  background-color: #111;
  margin-top: 0px;
}
main{    
  font-family: 'Roboto', sans-serif;   
  text-decoration: none;
}
main > h1{
  margin-left: 10px;
}
main #inv-display{   
  display: flex; 
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none; 
}
#inv-display li{     
  display: grid;
  grid-template-rows: 1fr;
  width: 200px; 
  border: solid grey 1px;
  height: auto;
  border-radius: 10px; 
  margin: 10px;  
  text-align: center;         
}
#inv-display img {
  width: 100%;
  padding: 0;
}
#inv-display a {
  height: 132px;
}
main li img{ 
  margin-top: 0px;   
  border-radius: 10px;  
  padding: 10px;     
}
hr {
  border-style: solid grey;
  border-width: 4px;
}
.namePrice {
  padding-bottom: 15px;
}
h2 {
  font-size: 1rem;
}
/* ----------------- main detail view ------------------- */
.detail_view {
  display: flex;
  gap: 15px;
}
.detail_view img {
  width: 100%;
  padding: 15px;
}
.car_detail h2 {
  font-size: 30px;
}
.car_detail p, .car_detail h2, .car_detail span {
  margin: 30px 0;
}
.namePrice {
  padding: 5px;
}
.namePrice a {
  text-decoration: none;
  color: #0bbfdc;
  font-size: 17px;
}
.namePrice a:hover {
  color: lightblue;
}
/* ------------------ error ----------------------- */
.image_error {
  width: 50%;
}
.message_error {
  padding: 10px;
  font-size: 20px;
}
/* ---------------- footer ------------------------ */
footer {
  margin-top: 20px;
    font-size: 15px;
  }
  footer a {
    font-size: 25px;
    font-family: "Prompt";
    color: #0bbfdc;
  }
  footer a:hover {
    color: lightblue;
  }

/* -------------------------------------- phone view --------------------------------------------- */
@media (max-width: 870px) {
  /* ---------------- header ----------------  */
  #top-header {
    padding: 10px;
    margin: 0;
  }
  #tools {
    padding-top: 20px;
  }
  .siteName {
    padding-top: 10px;
  }
  /* ------------- main screen --------------- */
  body {
    padding: 0;
    background-color: white;
    margin: 0;
  }
  #wrapper {
    border: none;
    border-radius: 0;
    padding: 0;
  }
  /*  ---------------banner ----------------- */
  .banner_info {
    padding: 10px;
  }
  .banner img {
    max-width: 50%; 
  }
  .delorean_info {
    margin: 20px 0 0 10px;
    width: 50%;
  }
  .delorean_info h2, .delorean_info p {
    font-size: 100%;
    margin: 5px;
  }
  /*---------- information section ---------- */
  .car_details {
    grid-template-columns: 1fr;
    width: 100%;
    padding: 10px;
    margin-top: 50px;
  }
  .car_upgrades {
    grid-row: 2;
    order: 2;
  }
  .reviews {
    grid-row: 1;
    order: 1;
  }
  /* ----------------- main detail view ------------------- */
.detail_view {
  flex-wrap: wrap;
}
.car_detail {
  padding: 15px;
}
/* ------------------ error ----------------------- */
.image_error {
  width: 100%;
}
  /* ----------------copyright --------------- */
  .copyright {
    margin: 0;
  }
  footer {
    padding: 10px;
  }  
}